<div class="container">
<p id="notice"><%= notice %></p>


  <h1>Welcome</h1>

  <p>admin account : god@admin.com</p>
  <p>password: password</p>


<!--  <p><%#= link_to 'check the tour', tours_path %></p>-->



</div>