<div class="container">
<p id="notice"><%= notice %></p>


  <h1>Welcome!</h1>

<!--  <br>-->

<!--  <p>admin account : god@admin.com</p>-->
<!--  <p>password: password</p>-->

<!--  <br>-->

<!--  <p>agent account : agent@gmail.com</p>-->
<!--  <p>password: password</p>-->

<!--  <br>-->

<!--  <p>customer account : customer@gmail.com</p>-->
<!--  <p>password: password</p>-->


<!--  <p><%#= link_to 'check the tour', tours_path %></p>-->



</div>