<table class="table">

  <thead>
  <tr>
    <th>Booked seats</th>
    <th>User Info</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>

  <% @books.each do |b| %>

    <tr>
      <td><%= b.book_seat %></td>

      <td><%= b.user.email %></td>
      <td><%= link_to "edit", edit_tour_book_path(b.tour_id, b.id) %></td>

      <td><%= link_to 'Destroy', tour_book_path(b.tour_id, b.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>

    <!--    <p><%#= link_to "edit", edit_tour_review_path(r.tour_id,r.id) %>-->
    <!--    <%#= link_to "delete", tour_review_path(r.tour_id,r.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>-->


  <% end %>
  </tbody>

</table>