<% @reviews.each do |r| %>

  <div class="field">
  <%= r.review %>
    - <%= r.user.email %>
    <%= link_to "edit", edit_tour_review_path(r.tour_id,r.id) %>
    <%= link_to "delete", tour_review_path(r.tour_id,r.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>



<% end %>
