
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>New Tour</h1>
<p><%= render 'formNew', tour: @tour %></p>





<p><%= link_to 'Back to All Tours', tours_path %>
  <%if(current_user.role.match(/agent|admin/i)) %>
    |<%= link_to 'Back to Agent Center', home_agenttourlist_path %>
  <%end%></p>
</div>