
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to the tour management system, <%= @user.name %></h1>
<p>
  You have successfully booked the seat from the wait list,
  your username is: <%= @user.email %>.<br>
</p>

<p>Thanks for booking the tour and have a great day!</p>
</body>
</html>