<table class="table">

  <thead>
  <tr>
    <th>Waited Seats</th>
    <th>User Info</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @waitlists.each do |w| %>

    <% if (w.user_id == current_user.id) || (current_user.role.match(/admin/i)) %>

      <tr>
        <td><%= w.wait_seat %></td>
        <td><%= w.user.name %></td>
        <td><%= link_to 'Destroy', tour_waitlist_path(w.tour_id, w.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>

    <% end %>

  <% end %>
  </tbody>

</table>